<table class="table table-dark shadow rounded">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">My task</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.forEach( (singleTask,index) => { %>
      <tr>
        <th scope="row"><%- index+1 %></th>
        <td><%- singleTask.createdat %></td>
        <td><%- singleTask.task %></td>
        <td>
          <form action="/<%- pageName %>/<%- singleTask.task %>" method="GET">
            <button type="submit" class="btn btn-secondary">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %> 
    
  </tbody>
</table>